section.anmeldung {

  .service-box {
    max-width: 400px;
  }

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }



  @media (min-width: 768px) {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5em;
    }

    .card {
      display: inline;
      font-size: 1em;
    }

  }

  @media (min-width: 992px) {
    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.7em;
    }

    .card {
      display: inline;
      font-size: 1.3em;
    }

  }

  @media (min-width: 1441px) {

    h1 {
      font-size: 4.5em;
    }

    p {
      font-size: 2em;
    }

    .card {
      display: inline;
      font-size: 1.4em;
    }

  }
}




